/*//////////////////ESTILOS GENERALES*/
:root{
  margin: 0;
  padding: 0;
  --Alcaldia: #1c75bc;
  --Vitalidad: #e52a2f;
  --Cielo: #73bbe9;
  --Tradición: #e4c54e;
  --Naturaleza: #7dba2b;
  --Arquitectura: #9d9d9c;
  --Seriedad: #3c3c3b;
  --background-white: #f2f2f2;
}

@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('./assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Archivo Regular", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    list-style-type: none;

  }
  
  h1,h2,h3,h4 {
    margin: 10px 0px 10px 0px;
    font-weight: bold;
  }
  
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.4rem;
    font-family: "DMSerifDisplay-Regular", sans-serif;
    font-weight: 900 ;
  }

/*//////////////////MODULO LOGO*/
#header{
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.8em;
}
#logo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo-components{
  width: 8em;
  object-fit: scale-down;
}
img[alt='bird']{
  width: 3.2em;
  fill: #ff0000;
}
#slogan{
  text-align: center;
}
.link{
  text-align: center;
}



/*////////////////// MODULO HOME*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
#background {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-object-fit: cover;
}
#content{
  width:100%;
position: absolute;
top: 0;
}