/*//////////////////ESTILOS GENERALES*/
:root {
  --alcaldia: #1c75bc;
  --vitalidad: #e52a2f;
  --cielo: #73bbe9;
  --tradicion: #e4c54e;
  --naturaleza: #7dba2b;
  --arquitectura: #9d9d9c;
  --seriedad: #3c3c3b;
  --white: #f2f2f2;
  --mural: #f9f3db;
  background-color: var(--white);
}

@font-face {
  font-family: "DMSerifDisplay-Regular";
  src: url("./assets/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo Regular", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
}
#container {
  display:block;
  padding: 10% 0%;
}
#container.is-open{
  display:none;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
  font-family: "DMSerifDisplay-Regular", sans-serif;
  font-weight: 900;
}

ul {
  text-align: center;
  padding: 0.3em 0em;
}
li {
  padding: 0.1em 0em;
}

a {
  color: var(--white);
}
a:hover {
  cursor: pointer;
  color: var(--seriedad);
}
p {
  text-align: center;
  padding: 1em 1.8em;
}
b {
  display: block;
  text-align: center;
  margin: 0.7em 1.8em;
}

img {
  width: 100%;
}
.buttom {
}
.icons {
  width: 2rem;
  max-width: 30px;
}
.numeredList {
  display: flex;
  justify-content: center; /* Alinea horizontalmente */
  align-items: center; /* Alinea verticalmente */
  background: var(--naturaleza);
  color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1rem;
  font-weight: bold;
}

/*//////////////////MODULO WELCOME*/
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.logo-components {
  width: 9rem;
  object-fit: scale-down;
}

.link {
  text-align: center;
  color: var(--cielo);
}

/*////////////////// MODULO HOME*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-object-fit: cover;
  z-index: 0;
}
#welcome {
  color: var(--white);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

/*//////////////////MODULO MENU*/
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position:sticky;
    Top:0px;
    z-index: 99999;
  width: 100%;
  background: var(--vitalidad);
  flex-direction: column;
  justify-content: center;
  padding: 0em;
}
nav.is-open{
  height:100vh;
}
/*FUNCTIONS*/
.dvs-header-menuItems {
  display: none;

}

.dvs-header-menuItems.is-open {
  display: block;
}

/*//////////////////MODULO INDEX*/
#index {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*//////////////////MODULO CONTENT*/
#content {
  padding: 0em 0em 2em 0em;
}

/*//////////////////MODULO FOOTER*/
footer {
  width: 100%;
  background-color: var(--vitalidad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
}
#footer-list{
  padding: 0em 0.6em;
}

/*//////////////////MODULO MAIN*/

/*//////////////////MODULOS SECTIONS && SECTION*/

.section-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0em 0em 1.2em 0em;
  padding: 0;
}

.section {
  height: 10em;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.section::after {
  content: ""; /* Agrega este contenido */
  position: absolute;
  top: 0;
  left: 0;
  height: 10em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
}

.section:hover .section:focus {
  transform: scale(1);
}
.link-section {
  position: absolute;
  bottom: 0;
  right: 0.6em;
  padding: 0em 0em 0.6em 0em;
}
.link-section:hover {
  color: var(--white);
}
#Concurso {
  background-image: url("./assets/images/Bird.png");
}
#Talleres {
  background-image: url("./assets/images/Imagen07.jpg");
}
#Murales {
  background-image: url("./assets/images/Mural.png");
}
#Libro {
  background-image: url("./assets/images/Libro.jpg");
}


/*//////////////////MODULO PROYECTO*/

#about-us-list li{
  margin: 0rem 2rem;
}



/*//////////////////MODULO CONTACTO*/
#form {
  display: block;
  margin: 4rem 0rem;
  padding: 0em 1em;
}

img[alt="bird"] {
  margin: 0rem 0rem 0.9rem 0rem;
  width: 100%;
  object-fit: cover;
}

/*//////////////////MODULO CONCURSO*/
#rules {
  background: var(--mural);
  margin: 10% 0%;
}
/*//////////////////MODULO WINNERS*/
#table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 5% 0%;
}
table {
  margin: 5% 0%;
}
thead {
}

table > *,
table > * > *,
table > * > * > *,
table > * > * > * > *,
td {
  text-transform: capitalize !important;
  text-align: center;
}

/*//////////////////MODULO LIBRO*/
#book {
  background-image: url("./assets/images/Libro.jpg");
  width: 100vw;
  height: 100vh; /* Establece la altura al 100% del viewport */
  margin: 0; /* Elimina los márgenes */
  padding: 0; /* Elimina el relleno */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#book::after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  content: "PRÓXIMAMENTE";
  font-size: 1.8rem;
  font-family: "DMSerifDisplay-Regular", sans-serif;
  font-weight: 900;
  color: var(--white);
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
}


@media (min-width: 768px) {
/*//////////////////ESTILOS GENERALES*/
* {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  }  
  #container, #content{
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 2.8rem;
    font-family: "DMSerifDisplay-Regular", sans-serif;
    font-weight: 900;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:0;
  }
  img{
    width: 50%;
  }
  p{
    text-align: left;
  }
  .link{
    font-size:1.8rem;
  }
  /*//////////////////MODULO MENU*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:sticky;
    Top:0px;
    z-index: 99999;
  width: 100%;
  background: var(--vitalidad);
  flex-direction: column;
  justify-content: center;
  padding: 0em;
}
nav.is-open{
  height:100vh;
}

nav ul div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding:0;
}

.dvs-header-menuItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dvs-header-menuItems-trigger{
  display:none;
}
/*//////////////////MODULO MENU*/
#slogan{
  text-align: center;
  font-size: 1.8rem;
  }
  
/*//////////////////MODULO FOOTER*/
#footer-list{
  padding: 0;
  margin: 0;
}

  /*//////////////////MODULO MAIN*/
  #introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  height:90vh;
  overflow:hidden;
}
#introduction p{
  font-size: 1.6rem;
}
img[alt="background-image"] {
  object-fit: scale-down;
}

/*//////////////////MODULOS SECTIONS && SECTION*/

.section-container{
  margin: 0;
  margin-top: 6rem;
  padding: 0;

}
.section, .section::after {
  height: 20em;
}

/*//////////////////MODULO PROYECTO*/
#about-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#about-us p{
  width: 60%;
  margin: 5rem 0rem;
  text-align: center;
  font-size: 1.6rem;
}
#about-us-list{
  width: 80%;
}
#about-us-list li{
  width: 25%;
  height: 60vh;
}


img[alt="about-us"] {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}
.numeredList{
  width: 90px;
  height: 90px;
}

/*//////////////////MODULO CONCURSO*/
#contest{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  width:100%;
  margin: 0rem 0rem 10rem 0rem;
}
#contest div{
  width: 50%;
  height: fit-content;
  position: sticky;
  top: 10rem;
  padding: 0rem 5rem;
}
#contest div > *{
  text-align: left;
  font-size: 1.3rem;
}

#contest a{
  width: 50%;
}

#contest a div{
  padding:0;
  margin:0;
  width: 100%;
}

img[alt="rules"],
img[alt="footerRules"]{
  width: 80%;
  margin-top: 4rem; 
  margin-left: 5%;
}

#winnersList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0rem 5rem;
}

#winnersList div{
  display: flex;
  flex-direction: column;
  width:46%;
  padding: 0% 2%;
}
#winnersList div img{
  width: 100%;
}


}