/*//////////////////ESTILOS GENERALES*/
:root{
  --alcaldia: #1c75bc;
  --vitalidad: #e52a2f;
  --cielo: #73bbe9;
  --tradicion: #e4c54e;
  --naturaleza: #7dba2b;
  --arquitectura: #9d9d9c;
  --seriedad: #3c3c3b;
  --white: #f2f2f2;
  background-color: var(--white);
}

@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('./assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Archivo Regular", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    list-style-type: none;
  }
  
  h1,h2,h3,h4 {
    margin: 10px 0px 10px 0px;
    font-weight: bold;
  }
  
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.4rem;
    font-family: "DMSerifDisplay-Regular", sans-serif;
    font-weight: 900 ;
  }
  
  ul{
    text-align: center;
    padding: 0.3em 0em;
  }
  li{
    padding: 0.1em 0em;
  }

  a{
    color: var(--white);

  }
  a:hover{
    cursor: pointer;
    color: var(--seriedad);
  }
  p{
    text-align:center;
    padding: 1em 1.8em;
  }

  /*//////////////////MODULO WELCOME*/
  #welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.logo-components{
  width: 8em;
  object-fit: scale-down;
}
img[alt='bird']{
  width: 3.2em;
  fill: #ff0000;
}
#slogan{
  text-align: center;
}

.link{
  text-align: center;
  color: var(--cielo);
  font-size: 2rem;
}

/*////////////////// MODULO LOGO*/
#slogan{
  margin: 1.2rem 0rem;
}

/*////////////////// MODULO HOME*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-object-fit: cover;
  z-index: 0;
}
#welcome{
  color: var(--white);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

/*//////////////////MODULO MENU*/
nav{
  width: 100%;
  background: var(--vitalidad);
  flex-direction: column;
  justify-content: center;
  padding: 1em 0em;
}

/*//////////////////MODULO INDEX*/
#index{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*//////////////////MODULO CONTENT*/
#content{
  padding: 0em 0em 2em 0em;
}


/*//////////////////MODULO FOOTER*/
footer{
  width: 100%;
  background-color: var(--vitalidad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
}

/*//////////////////MODULO MAIN*/

img[alt='city']{
  padding:1em 0em;
  width:100%;
  height:40vh;
  object-fit: cover;
}

/*//////////////////MODULOS SECTIONS && SECTION*/

.section-container{
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0em 0em 1.2em 0em;
}

.section{
  height: 10em;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.section::before{
  content: ""; /* Agrega este contenido */
  position: absolute;
  top: 0;
  left:0;
  height: 10em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.section:hover{
  transform: scale(1.2);
}
.link-section{
  position: absolute;
  bottom: 0;
  right: 0.6em;
  padding: 0em 0em 0.6em 0em;
}
.link-section:hover{
  color: var(--white);
}
#Concurso{
  background-image: url('./assets/images/Imagen01.jpg');
}
#Talleres{
  background-image: url('./assets/images/Imagen02.jpg');
}
#Murales{
  background-image: url('./assets/images/Imagen03.jpg');
}
#Libro{
  background-image: url('./assets/images/Imagen04.jpg');
}